
body {
     
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    background-color: #132a51;
}

header {
   background-color: #579bd3;
   text-align: center;    
   padding: .5rem;
   font-family: 'Robato Slab', serif;
   margin: 0 10em;    
   
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin-right: 150px
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
    margin: 0;
    
}

.subheading {
    font-size: 1.1rem;
    font-style: italic;
}

.current-conditions {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: #111;
}

.current-conditions img {
    width: 150px;
    height: auto;
}


/* =====================
    === Navigation === 
   =====================
*/


.nav {
    list-style: none;
    background-color: #ffb00d;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 3.5em;
    margin: 0 10em;
}

.nav li {
    font-family: "Oswald" , sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #01161e;
    dislplay: inline-block;
    padding: 2.5em;
}

.preston {
    width: 600px;
    height: auto;
    
    
}

.current {
    height: 200px;
    width: 200px;
}

.artimg {
    width: 600px;
    height: auto;
}

/*
.weather-summary {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    background-color: red;
    border: 1pt solid #cccb1b;
    font-size: 1.1rem;
    width: 200px;
    height: 200px;
}
*/

@media only screen and (max-width: 600px) {
.forecast, .current-condition {
display: none;
}

}

